version: "3.7"

services: 
    database:
        image: postgres
        container_name: ride_database
        restart: always
        ports: 
            - 5432:5432
        environment: 
            - POSTGRES_USER=rideschedule
            - POSTGRES_PASSWORD=ride
            - POSTGRES_DB=rideschedule
        volumes: 
            - pgdata:/data/postgres
    app:
        build: .
        container_name: rideschedule
        ports: 
            - 3333:3333
            - 9229:9229     # Debugger
        volumes: 
            - .:/usr/app
        links:
            - database
        depends_on: 
            - database

volumes: 
    pgdata:
        driver: local